.route-layers-dummy-app {
  max-width: 1200px;
}

#exit-route-layer {
  margin-top: 20px;
}

.exit-point .route span + span:before {
  content: '.';
}

.stack-display {
  background: #EEE;
  padding: 1rem;
}
