<div class='route-layers-dummy-app'>
  <h2 id="title">Ember Route Layers Test</h2>

  {{outlet}}

  <br />
  <button id='exit-route-layer' {{action 'exitRouteLayer'}}>Exit Route Layer</button>
</div>
